<div>
  <span>由于种种原因,eftpos的名字和商店的真实名字不可能100%一致,有的甚至差别很大.在查阅银行账单的时候,你有没有发现过银行账单上的某个消费是自己不认识的商店?本站就是为了解决这个问题而创立的.当遇到不认识的消费的时候,只需要搜索一下,就可以把不认识的eftpos名字变成熟悉的商店名字.</span>
  <br /><br />
  <span>本站的宗旨是建立一个任何人都可以参与的社区.本站没有管理员,所有内容均由社区成员搭建.任何人都可以添加商店,注册用户还可以编辑商店.</span> <br/><br/>
  <span>本站原始数据来自<a href="http://opage.skykiwi.com/" target="_blank">Skykiwi橙页</a>,由ruby爬虫自动抓取,版权归Skykiwi所有.</span>
  <br />
  <br />
  <span>本站由<a href="http://shawnjiang.com" target="_blank">Shawn</a>打造,基于<a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>,运行于<a href="http://aws.amazon.com/" target="_blank">Amazon Web Services</a>之上.</span>
</div>

<div style="margin-top:50px;">
  CHANGE LOG:<br />
   * Added Google Maps to shops page.  1/12/2010
</div>
<br /><br />
<%= link_to '回到首页', root_path %>