<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation" class="error">
      <h2>请修正下面<%= @shop.errors.count %>处问题:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mandatory">
    <div class="field">
      <%= f.label "eftPOS名字" %>
      <%= f.text_field :posname %>
    </div>
    <div class="field">
      <%= f.label "商店名字" %>
      <%= f.text_field :realname %>
    </div>
    <div class="field">
    <%= f.label "类别" %>
    <%= select(:shop,"category_id", Category.all.collect {|c| [c.name, c.id] }) %>
    </div>
    <div class="non-mandatoryInfo">
      <a href="#">输入其他信息</a>
    </div>
  <div class="non-mandatory">  
    <div class="field">
      <%= f.label "电话" %>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label "地址" %>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label "其他信息" %>
      <%= f.text_area :other, :rows => "3" %>
    </div>
  </div>
  <div class="actions">
      <%= f.submit :value => "写好了,加上去" %>
  </div>
<% end %>
