<div class="title">
  <% if params[:search] != nil && params[:search] != '' %>
    <h1>包含 <%= params[:search]%> 的搜索结果</h1>
  <% else %>
    <h1>所有商店</h1>
    <%= link_to '添加新商店', new_shop_path %>
  <% end %>
</div>
<% if @shops.length == 0 %>
  <span class="searchResults">没有找到您要找的,帮助我们<%= link_to '添加这个商店', new_shop_path %></span>
  <% else %>
<table class="searchResults">
  <tr>
    <th>商店名字</th>
    <th>eftpos 名字</th>
    <th>电话</th>
    <th>地址</th>
    <th>分类</th>
    <th></th>
    <th></th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= link_to shop.realname, shop %></td>
    <td><%= shop.posname %></td>
    <td><%= shop.phone %></td>
    <td><%= shop.address %></td>
    <td class="tdmisc"><%= shop.category.name %></td>
    <% if current_user %>
      <td class="tdmisc"><%= link_to '编辑', edit_shop_path(shop) %></td>
    <% else %>
      <td> </td>
    <% end %>
    <% if current_user && current_user.username == 'shawn' %>
      <td class="tdmisc"><%= link_to '删除', shop, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
      <td> </td>
    <% end %>
  </tr>
<% end %>
</table>
 <%= will_paginate @shops %>
<% end %>
<br />