<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true", "maps.js" %>
<script type="text/javascript">
$(document).ready(function() {
    initialize("<%= @shop.address %>");
    codeAddress("<%= @shop.address %>");
});
</script>
<div>
<table id="details">
  <tbody>
    <tr>
      <td class="meta">商店名字</td>
      <td><%= @shop.realname %></td>
    </tr>
    <tr>
      <td class="meta">eftpos名字</td>
      <td><%= @shop.posname %></td>
    </tr>
    <tr>
      <td class="meta">类别</td>
      <td><%= @shop.category.name %></td>
    </tr>
    <tr>
      <td class="meta">电话</td>
      <td><%= @shop.phone %></td>
    </tr>
    <tr>
      <td class="meta">地址</td>
      <td><%= @shop.address %></td>
    </tr>
    <tr>
      <td class="meta">其他信息</td>
      <td><%= @shop.other %></td>
    </tr>
  </tbody>
</table>
<div id="map_canvas">

</div>
</div>
<div>
<% if current_user %>
  <%= link_to '编辑', edit_shop_path(@shop) %> |
<% else %>
  <%= link_to '登陆', login_path %>后可以编辑这个商店 |
<% end %>
<%= link_to '回到首页', shops_path %>
</div>