<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user_session from being saved:</h2>-->
      <h3>登录失败</h3>

      <!--<ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>-->
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, "用户名" %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password, "密码" %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit :value => "登录"%>
  </div>
<% end %>
